*{
    margin: 0;
    font-family: consolas;
    padding: 0 ;
    box-sizing: border-box;
    
}

body{
    overflow: hidden;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0e1623;
}
section .text {
    position: relative;
    font-size:  5em;
    text-align: center;
    color: #00fe77;

    -webkit-box-reflect: below -0.2em linear-gradient(transparent,#000);

}

section .text span{
    position: relative;
    display: inline-block
}

