*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: #191e38;
}

.circle{
    transform-style: preserve-3d;
    animation: rotate 8s linear infinite; /**AASDASD*/
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
}

.circle .char{
    position: absolute;
    top:0;
    left: 0;
    background: #ff005e;
    color: #fff;
    font-size: 4em;
    padding: 20px 10px;
    border-top :  15px double #fff;
    border-bottom :  15px double #fff;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index)* (360deg / var(--wlen)))) translateZ(calc(8px * var(--wlen) )) ;
}

@keyframes rotate {/**AASDASD*/
    0%{
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
    }
    100%{
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
    }
}